html,

body {
    background: -webkit-linear-gradient(5deg, #49a09d, #5f2c82);
    background: linear-gradient(5deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: page;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    width: 1000px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

    tbody td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }

#formdiv1 label, button, input {
    margin: 10px;
    padding: 10px;
}

#formdiv1 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#formdiv1 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv1 label, button, input {
    margin: 10px;
    padding: 10px;
}

#updateformdiv1 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#updateformdiv1 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv1 {
    display: none
}

#showdiv1 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}


#formdiv2 label, button, input {
    margin: 10px;
    padding: 10px;
}

#formdiv2 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#formdiv2 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv2 label, button, input {
    margin: 10px;
    padding: 10px;
}

#updateformdiv2 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#updateformdiv2 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv2 {
    display: none
}

#showdiv2 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}


#formdiv3 label, button, input {
    margin: 10px;
    padding: 10px;
}

#formdiv3 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#formdiv3 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv3 label, button, input {
    margin: 10px;
    padding: 10px;
}

#updateformdiv3 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}

#updateformdiv3 label {
    font-weight: bolder;
    font-size: x-large
}

#updateformdiv3 {
    display: none
}

#showdiv3 button {
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}